.country-about {
  margin-bottom: 240px;
}

.country-about__nav {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 15px;
  margin-bottom: 80px;
}

.country-about__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.415px;

  color: rgba(44, 46, 63, 0.3);
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.country-about__label:hover {
  color: $color-main;
}

.country-about__grecce:checked ~ .country-about__nav .country-about__label[for="country-1"],
.country-about__albania:checked ~ .country-about__nav .country-about__label[for="country-2"],
.country-about__macedonia:checked ~ .country-about__nav .country-about__label[for="country-3"],
.country-about__montenegro:checked ~ .country-about__nav .country-about__label[for="country-4"],
.country-about__сroatia:checked ~ .country-about__nav .country-about__label[for="country-5"] {
  color: $color-main;
}

// .country-about__info-list {
//   display: none;
//   opacity: 0;
//   position: relative;
// }

.country-about__info-block {
  display: flex;
}

.country-about__info-block-hidden {
  display: none;
  opacity: 0;
}

.country-about__info {
  margin-right: 100px;
}

.country-about__title {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  align-items: center;
  letter-spacing: -1.245px;

  margin-bottom: 53px;
}

.country-about__title::before {
  position: absolute;
  content: "";
  width: 175px;
  height: 3px;
  top: 120px;

  background-color: $color-main;
}

.country-about__text {
  width: 370px;
  margin-bottom: 50px;
}

.country-about__review {
  width: 100%;
  display: flex;
  height: fit-content;
}

.country-about__img {
  display: block;
  position: absolute;
  z-index: -5;
}

.country-about__review-block {
  width: 382px;
  margin-left: auto;
}
