.footer {
  display: flex;
  margin-bottom: 75px;
}

.footer__block {
  border-right: 1px solid $color-light-add;
}

.footer__block:last-child {
  border: none;
}

.footer-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__city-group {
  display: flex;
}

.footer__city {
  min-width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 51px;
}

.footer__our-contacts {
  margin-left: 90px;
  margin-right: 33px;
}

.footer__about {
  margin-right: 31px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__city-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
}

.footer__contact {
  min-width: 260px;
  display: flex;
  color: $color-main;
  text-decoration: underline;
  margin-bottom: 15px;
}

.footer__mail {
  font-size: 14px;
}

.footer__tel--mail {
  stroke: $color-light-add;
  margin-right: 17px;
}

.footer__tel--phone {
  stroke: $color-light-add;
  stroke-width: 2;
  margin-right: 11px;
}
